@charset "UTF-8";
.form-control{
    overflow-y:visible
}
#texts,
#show{
    width: 100%;
    min-height: 620px;
    max-height: 620px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    color: #454545 !important;
    border: 1px solid #efefef;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

/**
  滚动条整体部分
  定义滚动条宽及背景 宽分别对应横竖滚动条的尺寸
*/
#texts::-webkit-scrollbar,
#show::-webkit-scrollbar{
    width: 5px;
}


/**
  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
 */
#texts::-webkit-scrollbar-thumb,
#show::-webkit-scrollbar-thumb{
    border: 1px solid #eeeeee;
    background-color: #d6d5d5;
}
/**
  滚动条的轨道（里面装有Thumb）
 */
#texts::-webkit-scrollbar-track,
#show::-webkit-scrollbar-track {

    border-radius: 10px;

}

.main-left,
.main-right{
    padding: 0;
}

.clearPadding{
    padding: 0 !important;
    margin: 0 !important;
}