@charset "UTF-8";
.main-body {
    padding: 10%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a,
a:visited{
    color: #a9adb1;
    list-style: none;
    text-decoration: none;
}

.title,
.next-md{
    font-size: 19px;
    padding-left: 4%;
    margin-top: 100px;
}

.next-md{
    margin-top: 15px;
    display: inline-block;
    color: #a9adb1;
    font-family: "proxima-nova", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

.next-md:hover{
    color: #9fa3a7;
    text-decoration: none;
}