extends layout

block content
  .container
   .row
    .col-md-12.col-lg-12.col-sm-12.text-center
      img(src="../404.png" style="padding-top:50px")
      p.text-center
        a(href="/welcome" style="color: #8d8d8d;font-size: 17px;letter-spacing: 4px;padding-left:6px") Welcome
